.one{
    text-align: left;
}
.two{
    text-align:   right;
}
.three{
    text-align: center;
}
.four{
    /* text-align: bottom right; */
    /* align-content: space-between; */
}
.five{
    vertical-align: baseline;
}
.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}